.loginbutton {
    width: 250px;
    height: 40px;
    background-color: #000;
    border-radius: 8px;
}

.googlebutton {
    width: 250px;
    height: 40px;
    background-color: #000;
    border-radius: 8px;
}