.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.field label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown button {
  display: flex;
  width: 100%;
  padding: 0.3em 1em;
  justify-content: space-between;
  background-color: #f4f0f0;
  border: #ccc 1px solid;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/*.allOption {

}*/

.permissionGroup {
  display: flex;
  flex-direction: column;
}

.featureOption {
  display: flex;
  flex-direction: row;
}

.permissionList {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  gap: 0.2em;
}

.permissionOption {
  display: flex;
  gap: 0.5em;
}

/* Permissions tab style*/

.permissionsTabContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em 2em;
}

.roleobjdisplay {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    gap: 1em;
}

.rolepermissionssection b {
    display: flex;
    flex-direction: column;
}

.permissionsTabContainer hr {
    margin-top: 3em;
    width: 100%;
}

.permissionitemsection {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.permissionitemsection button {
    margin-top: 2em;
    padding: 0.8em 1em;
    border: 1px solid;
    width: fit-content;
    border-radius: 8px;
    color: white;
    background-color: #313131;
    gap: 4em;
}

.permissionitemsection button:hover {
    background-color: white !important;
    color: #333;
    border: #333 1px solid !important;
    border-radius: 8px;
}

.permissionsitem {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}

.addmoreperm {
    width: 25% !important;
}

.actionbtns {
    display: flex;
    gap: 2em;
}

.actionbtns button {
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 8px;
    font-size: smaller;
}

.actionbtns button:hover {
    background-color: #ccc !important;
    color: #333;
}