.cplayoutcontainer {
    display: grid;
    grid-template-columns: 350px 1fr;
    transition: grid-template-columns 0.3s ease;
    min-height: 100vh;
}

.cplsidebarcontainer {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 8px;
    margin: 2rem;
    background-color: var(--foreground);
    min-height: 80vh;
}

.cpbody {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 3rem;
    gap: 1rem;
}

.cpsearchbar {
    display: flex;
    background-color: #0F233A;
    border: 1px solid #0F233A;
    border-radius: 4px;
    align-items: center;
    max-height: 5vh;
}

.cplpagechildren {
    display: flex;
    background: var(--foreground);
    min-height: 70vh;
    border-radius: 8px;
}