.authlayout {
  background-image: url('/img/authbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 90vw;
  display: flex;
  justify-content: center;
  flex-direction: column;  
  gap: 2em;
  padding: 2em;
}

.backbutton {
  display: flex;
  width: fit-content;
}

.mainform {
  display: flex;
  align-self: center;
}