APP_NAME=
NODE_ENV=
PORT=8000
ORIGIN_URL=""
SERVER_URL=""
DATABASE_URL=
SESSION_SECRET=
SESSION_EXPIRATION_HOURS=
JWT_SECRET=
REFRESH_TOKEN_EXPIRES=
ACCESS_TOKEN_EXPIRES=
ADMIN_PASSWORD=
ADMIN_EMAIL=
RESET_TOKEN_EXPIRES=
TEMPLATES_PATH=
RESEND_API_KEY=
CLIENT_URL=
RESET_TOKEN_EXPIRES=