.clientdashboardcontainer {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 1rem;
    width: 100%;
    gap: 2.5em;
}

.displaytext {
    font-size: medium;
}

.displaytext b i {
    background: linear-gradient(to right, #325dc0, #7bc7fe);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.servicesdisplaysection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 2em;
    padding: 0.5em;  
}

.servicesdisplaybox {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 90vw;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.seeallbutton {
    display: flex;
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    width: fit-content;
    justify-self: end;
    align-self: flex-end;
    padding: 4px;
}

.activeorderssection {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0.5em;
}

.activeordersdisplaybox{
    display: flex;
    flex-direction: row;
    width: 90vw;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 2em;
}