.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  margin: 4rem 2rem;
  padding: 80px;
  gap: 64px;
  border-radius: 0.75rem;
  background-color: #FFFFFF;
  color: #0F233A;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}
