.userinfocontainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    padding: 2em 3em 2em 3em;
    gap: 1em;
    border-radius: 8px;
}

.userdatasection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.usernames {
    display: flex;
    gap: 2em 18em;
    width: 90%;
    flex-wrap: wrap;
}

.avataricon {
    color: #ccc;
}


.contactInfo {
    display: flex;
    gap: 2em 20em;
    width: 90%;
    margin-top: 1em;
    flex-wrap: wrap;
}

.userAddresses {
    display: flex;
    flex-wrap: wrap;
    gap: 2em 18em;
    width: 90%;
    margin-top: 2em;
}

.morebtn {
    display: flex;
    align-self: self-end;
    width: fit-content;
}

.viewmore {
    --btn-border: #ccc 2px solid;
    --btn-width: fit-content;
    --btn-padding: 0.5em;
    box-shadow: none;
    border-radius: 4px;
}

.userOverlay {
    position: fixed;
    z-index: 9999;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    border-radius: 4px;
    pointer-events: auto;
    overflow-y: auto;
    overscroll-behavior: smooth;
    backdrop-filter: blur(8px);
    inset: 0;
}

.userdatasectionOverlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10000;
    border-radius: 4px;
    top: 9%;
    left: 5%;
    width: 90%;
    padding: 3em;
    height: 80%;
    color: #fff;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #0f233a;
}

.cancelbtncontainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
}

.statustag {
    background-color: red;
    height: fit-content;
    padding: 0.5em;
    width: fit-content;
    border-radius: 6px;
}

.statustag.active {
    color: green;
}

.statustagbtn {
    --btn-bg: inherit;
    border: none;
    box-shadow: none;
}

.timestamps {
    display: flex;
    gap: 18em;
    margin-top: 2em;
}

.bookingSummary {
    display: flex;
    margin-top: 2em;
    flex-direction: column;
}

.bookingSummary h4 {
    display: flex;
    align-items: center;
}

.bookingSnapShot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em 18em;
}

.bookingSnapShot span{
    display: flex;
}

@media (max-width: 1300px) {
    .userinfocontainer {
        padding: 1em 2em;
    }

    .userdatasectionOverlay {
        padding: 2em;
    }

    .avataricon {
        width: 60px;
        height: 60px;
    }

    .bookingSummary h4{
        font-size: small;
    }

    .bookingSnapShot {
        gap: 1em 18em;
    }
}

@media (max-width: 1024px) {
    .userdatasectionOverlay {
        top: 10%;
    }
}

@media (max-width: 950px) {
    .userinfocontainer {
        padding: 1em;
    }

    .contactInfo {
        gap: 1em 10em;
    }

    .userAddresses {
        gap: 1em 10em;
    }
}

@media (max-width: 650px) {
    .infomain {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .infomain span {
        font-size: smaller;
    }
    .usernames {
        flex-direction: row;
        gap: 1em;
    }

    .statustag {
        padding: 0.1em;
    }

    .statustag button {
        font-size: smaller;
    }

    .userAddresses {
        gap: 1em 9em;
    }

    .morebtn {
        width: fit-content;
    }

    .viewmore {
        --btn-padding: 0.2em;
    }

    .userdatasectionOverlay {
        padding: 1.5em;
    }

    .avataricon {
        width: 40px;
        height: 40px;
    }

     .bookingSnapShot {
        gap: 1em 3em;
    }
}

@media (max-width: 390px) { 
    .userdatasectionOverlay {
        top: 8%;
    }
}

/*@media (max-width: 750px) {
   
}*/