.signupbutton {
    width: 200px;
    height: 40px;
    background-color: #0F233A;
    border-radius: 8px;
}

.googlebutton {
    width: 200px;
    height: 40px;
    background-color: #0F233A;
    border-radius: 8px;
}