.signupbutton {
    width: 200px;
    height: 40px;
    background-color: #0F233A;
    border-radius: 8px;
}

.googlebutton {
    width: 200px;
    height: 40px;
    background-color: #0F233A;
    border-radius: 8px;
}

.alertmessage {
    color: #fff;
    background-color: #0F233A;
    border-radius: 10px;
    width: auto;
    height: fit-content;
    gap: 3em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}