.debitformcontainer {
    display: flex;
    flex-direction: column;
    padding: 3em ;
    width: 420px;
    height: 420px;
    box-shadow: 10px 12px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    height: 100%;
    margin-top: 6em;
}

.debitformcontainer legend {
    font-size: medium;
}

.debitformcolumn {
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

.debitformrow {
    display: inline-flex;
    border: #c3c3c3 solid 1px;
    border-radius: 8px;
    width: 100%;
    justify-content: space-evenly;
    height: 3em;
    padding: 0 1em;
}

.debitformrow input {
    height: 100%;
    width: 100%;
    border: none;
}

.debitformrowcvvdetails {
    display: flex;
    width: 100%;
    gap: 2em;
    height: 3em;
}

.debitformrowcvvdetails input {
    height: 100%;
    width: 90%;
    border: none;
}

.debitrowitemmonth {
    border-radius: 8px;
    border: #c3c3c3 solid 1px;
    width: 6em;
    padding: 0 1em;
}

.debitrowitem {
    border-radius: 8px;
    border: #c3c3c3 solid 1px;
    padding: 0 1em;
}

.debitrowitemcvv {
    display: inline-flex;
    border-radius: 8px;
    border: #c3c3c3 solid 1px;
    padding: 0 1em;
    justify-content: space-between;
}

.actionbtns {
    display: flex;
    width: 100%;
    padding: 0 1em;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.paybtn {
    background: #204B7E;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border-radius: 8px;
    font-size: small;
}

.cancelbtn {
    background: #FFFFFF;
    color: #469BD3;
    padding: 0.5em 1em;
    border-radius: 8px;
    font-size: small;
    border: 1px solid #469BD3;
}

.debitcardcontainer {
    display: flex;
    width: 100%;
    padding: 0 2em;
    position: relative;
}

.formopencontainer {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.walletcardcontainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.wallet {
    display: flex;
}

.walletopen {
    transform: rotate(6deg);
    margin-top: 0;
}