.bookingdisplaycard {
    display: block;
    color: #555;
    margin: 1em 1em;
}

.bookingdisplaycard h3,
.bookingdisplaycard span {
    margin: 1em;
}

.bdctable {
    width: 100%;
    color: #555;
    border-collapse: collapse;
}

.bdctable tr {
    border-bottom: 1px solid #353535;
}

.bdctable thead th,
.bdctable tbody td {
    text-align: left;
    padding: 2em 1em;
    white-space: nowrap;
}

.editbtn {
    border: none;
    background: transparent;
    padding: 0.5em;
}

.trashbtn {
    color: red;
    background-color: transparent;
    border: 1px solid #555;
}